[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
opencv-python = "*"
tensorflow = "*"
scikit-image = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
